.productDetail {
  height: calc(100vh-56px);
  width: 100vw;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.productImage {
  height: 500px;
  margin-top: 70px;
  border-radius: 10px;
}

.descriptionSide {
  margin-top: 70px;
  color: #adb5bd;
  padding: 60px;
}

.movieTitle {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.movieOverview {
  font-size: 15px;
}

.movieReleaseDate {
  font-size: 12px;
}

.imageSide {
  display: flex;
  justify-content: center;
}
