.productDetail {
  height: 95vh;
  width: 100vw;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.productImage {
  height: 550px;
  margin-top: 80px;
  border-radius: 10px;
}

.descriptionSide {
  margin-top: 100px;
  color: #adb5bd;
  padding: 80px;
}

.movieTitle {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.movieOverview {
  font-size: 15px;
}

.movieReleaseDate {
  font-size: 12px;
}

.imageSide {
  display: flex;
  justify-content: center;
}
