.card-image {
  width: 200px;
  align-self: center;
  cursor: pointer;
  border-radius: 10px;
}

.emer {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s all;
}

.emer:hover {
  transform: scale(1.1);
}
.navbar{
background-color: #006600;
}

.pagination-container{
  display: flex;
  margin: 20px;
}
